<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body ng-app="myapp">
  <div class="container" ng-controller="myctrl">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="card">
          <div class="card-header">
            DANH SACH HANG HOA
          </div>
          <table class="table table-bordered table-condensed">
            <thead>
              <tr>
                <th><a href="#" ng-click="sortBy('name')">SAN PHAM</a></th>
                <th><a href="#" ng-click="sortBy('price')">DON GIA</a></th>
                <th><a href="#" ng-click="sortBy('discount')">GIAM GIA</a></th>
                <th><a href="#" ng-click="sortBy('date')">NGAY</a></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="p in products| orderBy: '-price'|limitTo: 8:16">
                <td>{{p.name | uppercase}}</td>
                <td>{{p.price | currency}}</td>
                <td>{{p.discount | percentage:2}}</td>
                <td>{{p.date | date:'MMMM-dd, yyyy'}}</td>
              </tr>
            </tbody>

          </table>
        </div>
        <div class="card-footer">
          <ul class="pager">
            <li><a href="#" ng-click="first()">
                <span class="glyphicon glyphicon-hand-up"></span>
              </a></li>
            <li><a href="#" ng-click="prev()">
                <span class="glyphicon glyphicon-hand-left"></span>
              </a></li>
            <li><a href="#" ng-click="next()">
                <span class="glyphicon glyphicon-hand-right"></span>
              </a></li>
            <li><a href="#" ng-click="last()">
                <span class="glyphicon glyphicon-hand-down"></span>
              </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script>
    var app = angular.module("myapp", []);
    app.controller("myctrl", function ($scope, $http) {
      $scope.products = [];
      $http.get("Prods2.js").then(function (response) {
        $scope.products = response.data;
      });

      $scope.prop = "name";
      $scope.sortBy = function (prop) {
        $scope.prop = prop;
      };
      $scope.begin = 0;
      $scope.pageCount = Math.ceil($scope.products.length / 8);
      $scope.first = function () {
        $scope.begin = 0;
      }
      $scope.prev = function () {
        if ($scope.begin > 0) {
          $scope.begin -= 8;
        }
      }
      $scope.next = function () {
        if ($scope.begin < ($scope.pageCount - 1) * 8) {
          $scope.begin += 8;
        }
      }
      $scope.last = function () {
        $scope.begin = ($scope.pageCount - 1) * 8;
      }
    });
    app.filter('percentage', function ($filter) {
      return function (input, decimals) {
        return $filter('number')(input * 100, decimals) + '%';
      };
    });
  </script>
</body>

</html>