<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
    <script src="./angular.min.js"></script>
    <script src="./bai1.js"></script>
    <script src="./bootstrap-5.3.2-dist/js/bootstrap.js"></script>
    <script src="./bootstrap-5.3.2-dist/css/bootstrap.min.css"></script>
</head>
<body>
    <div class="container" ng-app="myapp" ng-controller="myctrl">
        <div class="card">
        <div class="panel panel-default ">
            <div class="panel-heading">
                <h2 class="panel-title ">TÍNH THƯỞNG TẾT NGUYÊN ĐÁN</h2>
            </div>
            <form class="panel-body">
                <div class="form-group">
                    <label> <b>Họ và tên</b></label>
                    <input class="form-control" ng-model="fullname">
                </div>
                <div class="form-group">
                    <label><b>Lương</b></label>
                    <div class="input-group">
                        <input class="salary form-control" ng-model="salary">
                        <div class="input-group-addon">VNĐ</div>
                    </div>
                </div>
                <div class="form-group">
                    <label><b>Giới tính</b></label> 
                    <div class="radio"> <br>
                        <label><input type="radio" ng-model="gender" value="NAM">Nam</label>
                        <label><input type="radio" ng-model="gender" value="NU">Nữ</label>
                    </div>
                </div>
                <div class="form-group"> <br>
                    <label><b>Độ tuổi</b></label>
                    <select class="form-control" ng-model="age" ng-options="x.age for x in ages"></select>
                </div>
            </form>
            <div class="panel-footer " >
                    TIỀN THƯỞNG: <strong>{{getBonus() | number: 2}}</strong> VNĐ
            </div>
        </div>
    </div>
    </div>
</body>
</html>